.email-menu-box.panel-status-menu-box {
    padding: 0;
    spacing: 0;
}

.email-menu-box.panel-status-menu-box .system-status-icon {
    margin: 0 1px;
}

.email-menu-item {
    padding-left: 2px;
}

.email-menu-item .popup-menu-icon {
    margin-right: 10px;
}
